@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;


    font-family:'Silkscreen', cursive;


    background-image:
    url("biome-cerisier.jpg");


    background-size:cover;

    background-position:center;

    background-attachment:fixed;


    image-rendering:pixelated;

}



/* Conteneur du monde */

.world{

    width:100%;

    height:100vh;


    display:flex;

    justify-content:center;

    align-items:center;


    padding:20px;

}



/* Panneau en bois de cerisier Minecraft */


.card{

    width:90%;

    max-width:650px;


    padding:40px;


    text-align:center;


    background:

    #d99bb8;


    border:8px solid #9e587b;


    box-shadow:

    inset 0 0 0 5px #f2c4d6,

    0 12px 0 #704052,

    0 25px 40px rgba(0,0,0,0.5);



    image-rendering:pixelated;


    animation:apparition 0.7s ease;


}




/* Texture légère du bois */

.card::before{

    content:"";


    position:absolute;

}





h1{

    color:white;

    font-size:30px;


    margin-bottom:25px;


    text-shadow:

    3px 3px #6b3c50;

}



h2{

    color:white;

    margin-bottom:20px;

    text-shadow:

    2px 2px #6b3c50;

}



p{

    color:white;


    font-size:17px;


    line-height:1.8;


    text-shadow:

    2px 2px #6b3c50;

}





/* Boutons Minecraft */


button{


    font-family:'Silkscreen', cursive;


    margin:12px;


    padding:15px 22px;


    font-size:15px;


    color:white;


    background:#7dbb52;


    border:5px solid #3d7025;


    box-shadow:

    0 6px 0 #31551c;


    cursor:pointer;


    transition:0.15s;


}




button:hover{


    transform:translateY(-4px);


    filter:brightness(1.15);


}




button:active{


    transform:translateY(5px);


    box-shadow:

    0 1px 0 #31551c;


}





/* Bouton Non */

#no{

    background:#8b8b8b;

    border-color:#555;

    box-shadow:

    0 6px 0 #333;

}





/* Calendrier */


input{


    font-family:'Silkscreen', cursive;


    padding:12px;


    margin:20px;


    background:#fff4fa;


    border:5px solid #9e587b;


    font-size:15px;

}





.hidden{

    display:none;

}





@keyframes apparition{


from{

    opacity:0;

    transform:scale(0.8);

}



to{

    opacity:1;

    transform:scale(1);

}


}
